# Ryan Tool
## Week 8 03/12/2021
### Python Functions Cont.

In [1]:
def full_name(fname, lname):
    return fname + ' ' + lname

In [2]:
full_name('Ryan', 'Tool')

'Ryan Tool'

In [5]:
# find if a number is prime
def prime(num):
    '''
    This function checks if a number is prime
    '''
    for n in range(2,num):
        if num%n == 0:
            return str(num) + ' is not prime'
    else:
        return str(num) + ' is prime'

In [6]:
prime(16)

'16 is not prime'

In [7]:
prime(7)

'7 is prime'

In [8]:
prime(11)

'11 is prime'

In [9]:
#min_two_odds(3,5) --> 3
def min_two_odds(n1,n2):
    if n1%2 != 0 and n2%2 != 0:
        return min(n1,n2)
    else:
        return max(n1,n2)

In [10]:
min_two_odds(9,3)

3

In [11]:
min_two_odds(9,2)

9

In [12]:
#check if two-word string starts with the same letter
def two_words_letters(txt):
    wdlist = txt.split()
    word1 = wdlist[0]
    word2 = wdlist[1]
    return word1[0] == word2[0]

In [13]:
two_words_letters('Python Program')

True

In [14]:
two_words_letters('Java Program')

False

In [15]:
#reduce
def two_words_letters(txt):
    wdlist = txt.split()
    return wdlist[0][0] == wdlist[1][0]

In [16]:
two_words_letters('Python Program')

True

In [17]:
two_words_letters('Java Program')

False

In [18]:
#create_thirty(10,20) --> True
#create_thirty(5,30) --> True
#create_thirty(5,20) --> False
def create_thirty(num1, num2):
    if (num1+num2) == 30:
        return True
    elif num1 == 30 or num2 == 30:
        return True
    else:
        return False

In [19]:
create_thirty(10,20)

True

In [20]:
create_thirty(5,30)

True

In [21]:
create_thirty(5,20)

False

In [22]:
#reduce
def create_thirty(num1, num2):
    return (num1+num2) == 30 or num1 == 30 or num2 == 30

In [23]:
create_thirty(10,20)

True

In [24]:
create_thirty(5,30)

True

In [25]:
create_thirty(5,20)

False

In [26]:
#'programming' --> ProGramming
def caps_two_letters(word):
    part1 = word[:3].capitalize()
    part2 = word[3:].capitalize()
    return part1 + part2

In [27]:
caps_two_letters('macdonald')

'MacDonald'

In [28]:
caps_two_letters('program')

'ProGram'

In [29]:
#Reverse a statement
def rv_stat(txt):
    lst = txt.split()
    lst.reverse()
    return ' '.join(lst)

In [30]:
rv_stat('I am home')

'home am I'

In [31]:
def rv_stat(txt):
    return ' '.join(txt.split()[::-1])

In [32]:
rv_stat('I am home')

'home am I'

In [38]:
#Check if a list has number 5 next to number 5 anywhere in the list
def has_55(lst):
    for n in range(0,len(lst)-1):
        if lst[n] == 5 and lst[n+1] == 5:
            return True
    return False

In [39]:
has_55([0,1,2,5,5,6])

True

In [40]:
has_55([0,1,2,3,4,5])

False

In [41]:
#Check code 001 in a list
def check_code(lst):
    code = [0,0,1,'s']
    
    for num in lst:
        if num == code[0]:
            code.pop(0)
    return len(code) == 1

In [42]:
check_code([1,0,2,5,0,6,1,8])

True

In [43]:
check_code([1,5,6,0,6,7,8,0])

False

In [44]:
#Number of arguments
def full_name(fname,lname):
    print(fname + ' ' + lname)
    
full_name('Jon','Clark')

Jon Clark

In [45]:
def full_name(*names):
    print(names[0] + ' ' + names[1])

full_name('Jon', 'Clark')

Jon Clark

In [46]:
def full_name(*names):
    if len(names) == 1:
        print(names[0])
    else:
        print(names[0] + ' ' + names[1])

full_name('Jon', 'Clark')

Jon Clark

In [47]:
full_name('Jon')

Jon

In [50]:
def sum_nums(a,b):
    return a + b

In [51]:
sum_nums(1,2)

3

In [52]:
def sum_nums(*n):
    return sum(n)

In [53]:
sum_nums(15)

15

In [54]:
sum_nums(15,20)

35

In [55]:
sum_nums(5,10,15)

30

In [58]:
def my_kids(child1, child2, child3):
    print("My first child " + child1 + " my second child " + child2 + " my third child " + child3)

In [59]:
my_kids('Bob','Joe','Bill')

My first child Bob my second child Joe my third child Bill

In [60]:
my_kids(child2 = 'Jon', child1 = 'Emil', child3 = 'Alice')

My first child Emil my second child Jon my third child Alice